/* ================================= 
  Media Queries/Flex
==================================== */

@media (min-width: 769px) {
	.main-header,
	.menu-list {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}
}


@media (min-width: 1025px) {
  
  .main-header {
  flex-direction: row;
  justify-content: space-between;
}
  

}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.main-header {
		width: 90%;

	}

	.input-email, .input-name {
		margin-right: 10px;
	}

}
@media (min-width: 1025px) {
	.main-header {
		width: 90%;
		max-width: 1150px;
	}
}

@media (max-width: 769px) {
	.email-container, .email-container2 {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	}

	.menu-list {
		display: none;
	}
}