/* ================================= 
  Media Queries/Flex
==================================== */

@media (min-width: 769px) {
	.main-header,
	.menu-list {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}
}


@media (min-width: 1025px) {
  
  .main-header {
  flex-direction: row;
  justify-content: space-between;
/*  min-width: 95%;*/
}
  

}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.main-header {
		width: 90%;

	}

	.input-email, .input-name {
		margin-right: 10px;
	}

}
@media (min-width: 1025px) {
	.main-header {
		width: 90%;
		margin-left: auto;
    	margin-right: auto;
	}

}

@media (max-width: 769px) {
	.email-container, .email-container2 {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	}

	.menu-list {
		display: none;
	}

	.home-container {
		height: 90%;
	}

	.logo {
		height: 11vw;
	}

	.home-title {
		margin-top: 5%;
		font-size: 10vw;
	}

	.home-desc {
		font-size: 4.5vw;
		line-height: 1.5em;
	}

	.coupon, h2, h3, .video-text {
		font-size: 4.5vw;
	}

	h1 {
		font-size: 10vw;
	}

	.margin-container {
		margin-left: 10%;
    	margin-right: 10%;
	}

	.value-item-container {
	    font-size: 3vw;
	    margin-top: 0px;
	}

	.value-props-list {
	    padding-left: 0px;
	}

	.section-container {
		height: 115%;
	}

	#story {
		height: 86%;
	}


/*///////////michael's edit///////////*/

input, button {
  font-size: 4vw;
  	-webkit-appearance: none;
   	border-radius: 0;
}

input.name, input.email {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

input.name {
	  margin-top: 5vw;
}

.home-image {
    height: 18vw;
}

.video-container {
	height: 60%;
}

.video-container2 {
	height: 60%;
}

.signup-overlay {
  height: 70%;
}

/*.video-container3 {
	height: 60%
}*/

.video-text-overlay {
	background-color: black;
	opacity: 0.3;
	width: 100%;
}

.video-text {
	color: white;
	right: 50%;
	width: 50%;
	font-size: 6vw;
	text-align: center;
}
